@charset "utf-8";

#ft {
    width: 100%;
    background-color: #3a4147;
    position: relative;
}

.ft_box {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.ft_top {
    width: 100%;
    padding: 15px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);

}

.ft_top__in {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.ft_menu {
    display: flex;
    flex-wrap: nowrap;
    width: 350px;
    justify-content: space-between;
    align-items: center;
}

.ft_menu a {
    display: inline-block;
    font-size: .9em;
    color: #eee;
    font-family: 'NotoSansKR-Thin';
    opacity: .8;
    text-align: center;
    align-items: center;
}

.ft_sns {
    display: flex;
    flex-wrap: nowrap;
    width: 190px;
    justify-content: space-between;
}

.ft_sns a {
    display: flex;
    width: 35px;
    height: 35px;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #fff;
    opacity: .5;
    transition: .3s;
}

.ft_bottom {
    width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.ft_text {
    padding: 25px 0;
    display: block;
    flex-wrap: wrap;
    color: #fff;
    letter-spacing: 2;
}

.ft_txt {
    font-size: 1em;
    padding: 10px 0;
    display: block;
    font-family: 'NotoSansKR-Thin';
}

.ft_txt:nth-child(1) {
    font-weight: bold;
}

.copyright {
    display: block;
    font-family: 'NotoSansKR-Thin';
    padding-top: 35px;
    padding-bottom: 0;
    font-size: .8em;
    opacity: .5;
}

.ft_bottom__right {
    display: flex;
    flex-wrap: wrap;
    justify-content: unset;
    width: 250px;
    border-left: 1px solid #fff;
    padding-left: 50px;
    align-items: center;
}

.ft_right__tit {
    width: 100%;
    color: #eee;
    font-size: 100%;
}

.ft_right__tit span {
    font-family: 'NanumGothicExtraBold';
    display: block;
    font-size: 2.1em;
    color: #eee;
    font-weight: bold;
    letter-spacing: 1px;
    opacity: 0.5;
}

.ft_cscenter {
    display: block;
    color: #fff;
    font-family: 'NotoSansKR-Thin';
    width: 100%;
}

.ft_cscenter span {
    display: block;
    width: 100%;
    padding: 5px 0;

}

.ft_cscenter a {
    display: block;
    width: 100%;
    font-weight: bold;
}

.ft_cscenter__time {
    display: block;
    color: #fff;
    font-family: 'NotoSansKR-Thin';
    width: 100%;
}

.ft_cscenter__time span {
    display: block;
    width: 100%;
    padding: 5px 0;
    opacity: .5;
    font-family: 'NotoSansKR-Thin';
    font-weight: 100;
}

.ft_txt3 .mobile {
    display: none;
}

.sitemap {
            z-index: 9999;
        }

        .box {
            position: relative;
            top: 0;
            left: 100vw;
            width: 100vw;
            height: 100vh;
            z-index: 99;
            background-color: #245984;
            align-items: center;
            margin: 0 auto;
            transition: all 1s;
        }

        .box.on {
            left: 0;
        }

        .box_fr {
            max-width: 1220px;
            height: 100%;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            margin: 0 auto;
        }

        .ul {
            flex: 525;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

        }

        .fnb {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding-top: 87px;
        }

        ul li a {
            color: #fff;
        }

        .fnb>li {
            overflow-x: hidden;
            transform: translateX(100vw);
            transition-duration: 1s;
            transition-timing-function: cubic-bezier(.19, 1, .22, 1);
        }

        .fnb>li:nth-child(1) {
            opacity: 0;
            transition-delay: 1.55s;
        }

        .fnb>li:nth-child(2) {
            opacity: 0;
            transition-delay: 1.6s;
        }

        .fnb>li:nth-child(3) {
            opacity: 0;
            transition-delay: 1.65s;
        }

        .fnb>li:nth-child(4) {
            opacity: 0;
            transition-delay: 1.7s;
        }

        .fnb>li:nth-child(5) {
            opacity: 0;
            transition-delay: 1.75s;
        }

        .box.on .fnb>li {
            opacity: 1;
            transform: translateX(0);
        }



        .fnb>li>a {
            font-size: 30px;
            font-weight: 700;
            position: relative;

        }

        .sub {
            margin-top: 60px;
        }

        .sub>li:not(:last-child) {
            margin-bottom: 30px;
        }

        .sub>li {
            overflow-x: hidden;
            height: 38px;
            width: auto;
        }

        .sub>li>a {
            font-size: 20px;
            font-weight: 500;
            position: relative;
            overflow-x: hidden;
        }

        /* 메뉴푸터 */
        .menu_foot {
            flex: 325;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
        }

        .menu_foot::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 1px;
            background-color: rgba(173, 173, 173, 0.37);
            transition-duration: 0.6s;
            transition-property: width;
            transition-delay: .9s;
        }

        .box.on .menu_foot::before {
            width: 100%;
        }

        .address {
            color: #ddd;
            text-align: left;
        }

        .address p {
            font-size: 20px;
            transform: translateY(100vh);
            transition-duration: 1s;
            transition-property: transform;
            transition-timing-function: cubic-bezier(.19, 1, .22, 1);
        }

        .address p:not(:last-child) {
            margin-bottom: 10px;
        }

        .address p:nth-child(1) {
            transition-delay: 1s;
        }

        .address p:nth-child(2) {
            transition-delay: 1.05s;
        }

        .address p:nth-child(3) {
            transition-delay: 1.1s;
        }

        .address p:nth-child(4) {
            transition-delay: 1.15s;
        }

        .box.on .address p {
            transform: translateY(0);
        }

        .icon {
            width: auto;
            height: auto;
            transform: translateY(100vh);
            transition-duration: 1s;
            transition-property: transform;
            transition-timing-function: cubic-bezier(.19, 1, .22, 1);
            transition-delay: 1s;
        }

        .box.on .icon {
            transform: translateY(0);
        }

        .icon img {
            width: auto;
            height: auto;
        }

        /* 메뉴에 마우스 올렸을 때 애니메이션 */
        .fnb>li>a:after {
            content: '';
            width: 0;
            height: 1px;
            background: #fff;
            position: absolute;
            right: 0;
            bottom: -5px;
            transition: all ease .3s;
        }

        .fnb>li:hover>a:after {
            right: auto;
            left: 0;
            width: 100%;
        }

        .sub>li>a:after {
            content: '';
            width: 0;
            height: 1px;
            background: #fff;
            position: absolute;
            right: 0;
            bottom: -5px;
            transition: all ease .3s;
        }

        .sub>li>a:hover:after {
            right: auto;
            left: 0;
            width: 100%;
        }

        /* 페이지 네비 */
        #bo_ser {
            margin: 0px auto;
            margin-bottom: 0;
            color: #333;
            border-top: 1px solid #eee;
            border-bottom: 1px solid #eee;
            width: 100%;
            
        }
        .bo_ser_box {
            width: 1200px;
            margin: 0 auto;
            height: 65px;
            line-height: 65px;
            display: flex;
            flex-wrap: nowrap;
            align-content: center;
            align-items: center;
            justify-content: space-between;
        }
        #bo_ser > ul {
            display: flex;
            flex-wrap: nowrap;
            align-content: center;
            
        }
        #bo_ser a {
            display: block;
            color: #333;
        }
        #bo_content {
            width: 100%;
            padding-bottom: 50px;
            margin-bottom: 50px;
            border-bottom: 1px solid #eee;
        }
        
        
        .page_nav {
            display: flex;
            flex-wrap: nowrap;
            align-content: center;
            text-align: center;
        }
        .page_nav > a, .page_nav > div {
            display: block;
            width: 150px;
            height: 100%;
            text-align: center;
            color: #eee;
            font-size: 14px;
            font-family: 'NanumGothicLight';
            position: relative;
        }
        .page_nav > a {
            opacity: 0.4;
        }
        .page_nav > a:after {
            position: absolute;
            right: 0;
            content: " > ";
            display: inline-block;
            clear: both;
            text-align: center;
        }
        .page_nav > div {
            color: #333;
            font-size: 14px;
            cursor: pointer;
            position: relative;
        }
        
         .page_nav > div i {
            font-size: 10px;
            padding-left: 10px;
             right: 10px;
        }
        
        .page_nav__sub {
            width: 150px;
            position: absolute;
            left: 0;
            z-index: 999;
            display: none;
        }
        .page_nav__sub ul {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            justify-content: space-between;
        }
        .page_nav__sub ul li {
            width: 100%;
            border: 1px solid #eee;
            height: 50px;
            text-align: center;
            line-height: 50px;
        }
        .page_nav__sub ul li {
            border-top: 0;
        }
        .page_nav__sub ul li a {
            width: 100%;
            height: 100%;
            position: relative;
            transition: 0.3s;
        }
        .page_nav__sub ul li a.on {
            color: #fff !important;
            background-color: #2c6cb9;
        }
        .page_nav__sub ul li a.hover {
            color: #fff !important;
            background-color: #2c6cb9;
        }
        .page_nav > div i {
            transition: .3s;
            transform-origin: center;
        }
        .page_nav > div.click i.fa-chevron-down {
            transform: rotateX( -180deg );
            
        }
        /* 페이지 네비 끝 */


        /* 메뉴 모바일 미디어 쿼리  */
        @media screen and (max-width:767px) {

            .burger_menu {
                display: flex;
                justify-content: space-between;
                align-items: center;
                pointer-events: auto;
                width: 100px;
                height: 30px;
                position: fixed;
                z-index: 101;
                cursor: pointer;
                top: 20px;
                right: 15px;
            }

            .ul {
                flex: 525;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: baseline;
            }

            .fnb {
                width: 100%;
                display: flex;
                justify-content: space-between;
                padding-top: 72px;
                flex-direction: column;
            }

            .fnb>li>a {
                font-size: 20px;
                line-height: 50px;
                padding: 0 30px;
                display: block;
                letter-spacing: 0.05em;
                transition: all 0.5s;
            }

            .fnb>li>a.moOpen {
                padding-left: 60px;
            }

            .fnb>li>a::before {
                width: 4px;
                height: 4px;
                content: '';
                position: absolute;
                top: calc(50% - 2px);
                left: 34px;
                background-color: #fff;
                border-radius: 2px;
                display: none;
                transition: all 0.5s;
            }

            .fnb>li>a.moOpen::before {
                display: block;
            }

            .sub {
                box-sizing: border-box;
                margin-top: 0;
                padding: 0 30px 0 60px;
                overflow: hidden;
                background-color: #545454;
                display: none;
                height: auto;
            }

            .sub.moOpen {
                height: auto;
                display: block;
            }

            .sub>li {
                width: 100%;
            }

            .sub>li:nth-child(1) {
                margin-top: 15px;
            }

            .sub>li:last-child {
                margin-bottom: 15px;
            }

            .sub>li:not(:last-child) {
                margin-bottom: 0;
            }

            .sub>li>a {
                display: block;
                font-size: 16px;
                font-weight: 500;
                position: relative;
                line-height: 40px;
            }

            /* 메뉴 푸터 */
            .menu_foot {
                flex: 285;
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: relative;
                flex-direction: column;
            }

            .address {
                color: #ddd;
                margin-top: 30px;
            }

            .address p {
                font-size: 1em;
            }

            .icon {
                margin-bottom: 30px;
            }


        }