@charset "utf-8";

body {
    overflow-x: hidden;
}

.text_st_1, .text_st_2, .text_st_3, .text_st_4, .text_st_5, .text_st_6 {
    font-family: 'NanumGothic';
}

.title_st_1, .title_st_2, .title_st_3 {
    font-family: 'NanumGothicExtraBold';
}

.page_wrap {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.page_wrap_inner {
    width: 100%;
}

.section1 {
    width: 100%;
    height: 100vh;
    position: relative;
}

.sec0_bg_txt {
    position: absolute;
    z-index: -1;
    top: 315px;
}

.sec0_bg_txt p {
    color: #f2f2f2;
    white-space: nowrap;
    font-size: 410px;
    line-height: 0;
    font-family: 'NanumGothicExtraBold';
}

.section1_inner {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    padding: 100px 20px;
    box-sizing: border-box;
    flex-direction: column;
    height: 100%;
}

.section1 .col_right {
    position: absolute;
    right: 100px;
    bottom: 100px;
}

.section1 .col_right img {
    width: 660px;
}

.section1 .col_left {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.section1 .col_left_top {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.section1 .col_left_top .flex_row {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
}

.section1 .col_left_top .title_st_2 {
    color: #000;
    font-family: 'NanumGothic';
    letter-spacing: 10px;
    font-weight: 600;
    margin-bottom: 20px;
}

.section1 .col_left_top .flex_row .title_st_1 {
    color: #000;
    font-size: 44px;
    line-height: 1.2;
    font-family: 'NanumGothicExtraBold';
    margin: 0 5px;
}

.col_left_bot .title_st1 {
    font-family: 'NanumGothicExtraBold';
    color: #000;
    font-size: 36px;
    margin: 20px 0;
}

.col_left_bot .hashtag_box {
    width: 100%;
    max-width: 330px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-bottom: 50px;
}

.col_left_bot .hashtag_box .hashtag {
    background-color: transparent;
    border: 1px solid #a3a3a3;
    border-radius: 21px;
    box-sizing: border-box;
    padding: 8px 25px;
    color: #646464;
}

.section1_text_box {
    width: 100%;
}

.section1_text_box .text_st_1 {
    line-height: 1.6;
    text-indent: 16px;
    position: relative;
}

.section1_text_box .text_st_1:after {
    content: "";
    position: absolute;
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 51%;
    background-color: #1753b7;
    left: 0;
    top: calc(50% - 6px);
}
/* section1 */

/* section2 */
.section2 {
    width: 100%;
    position: relative;
    background: url(../img/online_section2_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.section2_inner {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px 20px;
    box-sizing: border-box;
    margin: 0 auto;
}

.section2_text_box {
    width: 100%;
    text-align: center;
    color: #fff;
}

.section2_text_box .text_st_1 {
    font-size: 20px;
}

.section2_text_box .title_st_1 {
    font-size: 40px;
    line-height: 1.6;
}

.section2_card_box {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.section2_card_box .card_1 {
    background-color: #fff;
    border-radius: 10px;
    width: 350px;
    height: 300px;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
}

.section2_card_box .card_1 .absolute_box {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 100px;
    height: 100px;
    border-radius: 51%;
    background-color: #006ce1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section2_card_box .card_2 {
    background-color: #006ce1;
    border-radius: 10px;
    width: 350px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section2_card_box .card .title_st_2 {
    color: #656565;
    font-size: 30px;
    line-height: 3.5;
}

.section2_card_box .card .text_st_3 {
    text-indent: 16px;
    position: relative;
    line-height: 1.6;
    color: #555;
}

.section2_card_box .card .text_st_3:after {
    content: "";
    display: block;
    width: 8px;height: 8px;
    background-color: #006ce1;
    border-radius: 51%;
    position: absolute;
    left: 0%;
    top: 6px;
}
/* section2 */

/* section3 */
.section3 {
    width: 100%;
    background-color: #ececec;
}

.section3_inner {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px 20px;
    box-sizing: border-box;
}

.section3_text_box {
    width: 100%;
    text-align: left;

}

.section3_text_box .text_st_1 {
    color: #1753b7;
    font-family: 'NanumGothicExtraBold';
    font-size: 22px;
    line-height: 2.9;
}

.section3_text_box .title_st_1 {
    color: #000;
    font-family: 'NanumGothicExtraBold';
    font-size: 54px;
    line-height: 1.4;
}

.section3_text_box .text_st_2 {
    font-size: 18px;
    color: #6e6e6e;
    line-height: 1.6;
}

.section3_card_box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
}

.section3_card_box .card_3 {
    width: 283px;
    height: 450px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.26);
}

.section3_card_box .margin_min {
    margin: 0 -10px;
    z-index: 9;
}

.card_3 .card_text_box {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;

}

.card_3 .card_text_box .text_st_4 {
    color: #1753b7;
    font-family: 'NanumGothicExtraBold';
    font-size: 18px;
    width: 100%;
}

.card_3 .card_text_box .under_line {
    width: 100%;
    border: 1px solid #979797;
    margin: 10px 0;
}

.card_3 .card_text_box .text_st_1 {
    width: 100%;
    margin-bottom: 10px;
    line-height: 1.4;
}

.card_3 .card_text_box .text_st_2 {
    width: 100%;
    text-indent: 16px;
    position: relative;
    line-height: 1.4;
    font-family: 'NanumGothicExtraBold';
}

.card_3 .card_text_box .text_st_2:after {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 51%;
    background-color: #1753b7;
    top: 6px;
    left: 0;
    position: absolute;
}
/* section3 */

/* section4 */
.section4 {
    width: 100%;
    position: relative;
}

.section4_inner {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 100px 20px;
    box-sizing: border-box;
}

.section4_text_box {
    width: 100%;
}

.section4_text_box .text_st_1 {
    color: #1753b7;
    font-family: 'NanumGothicExtraBold';
    line-height: 2.9;
    font-size: 22px;
}

.section4_text_box .title_st_1 {
    color: #000;
    font-size: 54px;
    line-height: 1.4;
}

.section4_text_box .text_st_2 {
    line-height: 1.6;
    font-size: 18px;
    color: #6e6e6e;
}

.section4_card_box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 70px;
}

.section4_card_box .card_4 {
    width: 350px; height: 250px;
    border: 1px solid #c8c8c8;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
}

.section4_card_box .card_4 .absolute_box {
    position: absolute;
    width: 100%;
    top: 0;
    height: 8px;
    background-color: #1753b7;
}

.section4_card_box .card_4 .absolute_box .count_box {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 60px;
    height: 30px;
    left: 50px;
    top: calc(50% - 15px);
    background-color: #1753b7;
    border-radius: 15px;
    color: #fff;
}

.section4_arrow {
    padding: 0 10px;
}

.mar_top {
    margin-top: 50px;
}

.section4_card_box .card_4 .title_st_2 {
    line-height: 2;
    font-size: 24px;
}

.section4_card_box .card_4 .text_st_2 {
    text-align: center;
    line-height: 1.4;
}
/* section4 */

/* section5 */
.section5 {
    width: 100%;
    position: relative;
    background-image: url(../img/online_section5_bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    /* background-size: cover; */
}

.section5_inner {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px 20px;
    box-sizing: border-box;
}

.section5_text_box {
    width: 100%;
}

.section5_text_box .text_st_1 {
    color: #9ac0ff;
    font-family: 'NanumGothicExtraBold';
    line-height: 2.9;
    font-size: 22px;
}

.section5_text_box .title_st_1 {
    color: #fff;
    font-size: 54px;
    font-family: 'NanumGothicExtraBold';
    line-height: 1.4;
}

.section5_text_box .text_st_2 {
    color: #fff;
    font-size: 18px;
    line-height: 1.4;
}

.section5 .logo_box {
    width: 100%;
}

.section5 .logo_box img {
    margin: 25px 10px;
}

.section5 .img_box {
    width: 100%;
}

.section5 .img_box .text_st_3 {
    color: #fff;
    text-indent: 16px;
    display: block;
    position: relative;
}

.section5 .img_box .text_st_3:after {
    content:"";
    display: inline-block;
    width: 5px;
    height: 16px;
    background-color: #1e6df0;
    position: absolute;
    left: 0;
    top: -1px;
}

.section5 .img_box .card_box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 30px 0;
}

.section5 .img_box .card_box .card_5 {
    width: 22%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section5 .img_box .card_box .card_5 .text_st_1 {
    color: #fff;
    font-size: 18px;
    line-height: 3;
}
/* section5 */

/* section6 */
.section6 {
    width: 100%;
    position: relative;
    background: url(../img/online_section6_bg.png);
    background-position: center center;
    background-repeat: no-repeat;
}

.section6_inner {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px 20px;
    box-sizing: border-box;
}

.section6_text_box {
    width: 100%;
}

.section6_text_box .text_st_1 {
    color: #1753b7;
    font-family: 'NanumGothicExtraBold';
    font-size: 22px;
    line-height: 2.9;
}

.section6_text_box .title_st_1 {
    font-size: 54px;
    font-family: 'NanumGothicExtraBold';
    line-height: 1.4;
}

.section6_text_box .text_st_2 {
    color: #6e6e6e;
    line-height: 1.4;
    font-family: 'NanumGothicBold';
    font-size: 18px;
}

.section6 .img_box {
    width: 100%;
    padding: 50px 0;
}

.section6 .img_box .text_st_3 {
    color: #000;
    font-family: 'NanumGothicExtraBold';
    position: relative;
    text-indent: 16px;
}

.section6 .img_box .text_st_3:after {
    content:"";
    display: inline-block;
    width: 5px;
    height: 16px;
    background-color: #1e6df0;
    position: absolute;
    left: 0;
    top: -1px;
}

.section6 .img_box .img_box_fr {
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.section6 .img_box .img_box_fr .flex_box {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.section6 .img_box .img_box_fr .flex_box .flex_box_fr {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.section6 .img_box .img_box_fr .flex_box .w200 {
    width: 200px;
}

.section6 .img_box .img_box_fr .flex_box .flex_box_fr .blue_box {
    width: 110px;
    background-color: #006ce1;
    padding: 8px 0;
    border-radius: 15px;
    margin: 10px 0;
    color: #fff;
}

.section6 .img_box .img_box_fr .flex_box .w200 p {
    color: #6e6e6e;
    font-family: 'NanumGothicBold';
    line-height: 1.6;
}

.section6 .absolute_img_box {
    position: absolute;
    right: 200px;
    bottom: 50px;
}
/* section6 */

/* section7 */
.section7 {
    width: 100%;
    position: relative;
    background: url(../img/online_section7_bg.png);
    background-position: center center;
    background-repeat: no-repeat;
}

.section7_inner {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px 20px;
    box-sizing: border-box;
}

.section7_text_box {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.section7_text_box .title_st_1 {
    color: #fff;
    font-size: 36px;
}

.section7_card_box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.section7_card_box .card_6 {
    width: 280px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 0;
}

.section7_card_box .card_6 .card_img_box {
    border-radius: 15px;
    overflow: hidden;
    width: 100%;
    height: 167px;
}

.section7_card_box .card_6 .text_st_1 {
    line-height: 3;
    color: #fff;
}
/* section7 */

/* section8 */
.section8 {
    width: 100%;
    position: relative;
    background: url(../img/online_section8_bg.png);
    background-position: center center;
    background-repeat: no-repeat;
}

.section8_inner {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px 20px 0;
    box-sizing: border-box;
}

.section8_text_box {
    width: 100%;
}

.section8_text_box .text_st_1 {
    font-size: 22px;
    color: #c1e1ff;
    font-family: 'NanumGothicExtraBold';
    line-height: 2.9;
}

.section8_text_box .title_st_1 {
    font-size: 54px;
    color: #fff;
    line-height: 1.4;
}

.section8_text_box .text_st_2 {
    font-size: 18px;
    color: #fff;
    line-height: 1.4;
}

.section8_img_box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 70px;
    margin-bottom:-5px;
}